# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Pull in csv from Weatherpy exercise
weather_df = pd.read_csv('../WeatherPy/weather_df.csv')
clean_weather = weather_df.drop(['Unnamed: 0'],axis=1)
clean_weather.head()

,City,Latitude,Longitude,Maximum Tempurature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Yeppoon,-23.1333,150.7333,75.20,83,75,9.22,AU,1612297263
1,Rikitea,-23.1203,-134.9692,77.97,76,77,15.35,PF,1612297263
2,Mataura,-46.1927,168.8643,61.11,76,100,1.45,NZ,1612297263
3,Hobart,-42.8794,147.3294,57.00,76,75,3.44,AU,1612297263
4,Hong Kong,22.2855,114.1577,63.00,80,78,1.01,HK,1612297166

In [3]:
clean_weather.dtypes

City                    object
Latitude               float64
Longitude              float64
Maximum Tempurature    float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Country                 object
Date                     int64
dtype: object

In [4]:
clean_weather["Humidity"] = clean_weather["Humidity"].astype(float)
clean_weather["Cloudiness"] = clean_weather["Cloudiness"].astype(float)

In [5]:
clean_weather.dtypes

City                    object
Latitude               float64
Longitude              float64
Maximum Tempurature    float64
Humidity               float64
Cloudiness             float64
Wind Speed             float64
Country                 object
Date                     int64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Configure for gmaps
gmaps.configure(g_key)

In [7]:
# Define latitude and longitude as locations and humidity as weight
location = weather_df[["Latitude", "Longitude"]]
humidity = weather_df["Humidity"]

In [8]:
# Addition of heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(location, weights=humidity, 
                                 dissipating=False, max_intensity=400,
                                 point_radius = 5)

fig.add_layer(heat_layer)

print(fig)

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Select cities with tempuratures equal to or greater than 70 F, humidity less than 50, and less than 10% cloudiness
ideal_weather = clean_weather.loc[(clean_weather["Maximum Tempurature"] > 69) & (clean_weather["Humidity"] < 50) & (clean_weather["Cloudiness"] < 10)]                                 
              
ideal_weather

,City,Latitude,Longitude,Maximum Tempurature,Humidity,Cloudiness,Wind Speed,Country,Date
6,Coyhaique,-45.5752,-72.0662,78.80,41.0,0.0,6.91,CL,1612297264
76,Pisco,-13.7000,-76.2167,82.40,47.0,0.0,12.66,PE,1612297275
146,Umm Kaddadah,13.6017,26.6876,80.02,18.0,0.0,7.94,SD,1612297285
171,San Juan Bautista,-14.0108,-75.7358,82.40,47.0,0.0,12.66,PE,1612297289
187,Tcholliré,8.4022,14.1698,80.01,19.0,0.0,1.95,CM,1612297291
208,Kidal,18.4411,1.4078,73.15,19.0,5.0,8.30,ML,1612297294
234,Lampazos de Naranjo,27.0167,-100.5167,72.12,27.0,0.0,7.87,MX,1612297298
285,Tessalit,20.1986,1.0114,70.45,20.0,0.0,9.24,ML,1612297306
307,Comodoro Rivadavia,-45.8667,-67.5000,84.20,21.0,0.0,12.66,AR,1612297310
358,Kissidougou,9.1848,-10.0999,76.95,36.0,0.0,3.00,GN,1612297317
394,Long Beach,33.7670,-118.1892,69.80,46.0,1.0,3.44,US,1612297308
396,Illela,13.7292,5.2975,79.48,15.0,5.0,9.89,NG,1612297323
398,Rājpīpla,21.8667,73.5000,71.08,23.0,0.0,3.02,IN,1612297323
404,Atar,20.5169,-13.0499,76.33,16.0,0.0,9.82,MR,1612297324
420,Kaduqli,11.0167,29.7167,78.73,18.0,2.0,5.23,SD,1612297158
442,Birao,10.2849,22.7882,80.65,19.0,0.0,3.91,CF,1612297330
449,Manzanillo,20.3433,-77.1167,79.47,40.0,0.0,6.93,CU,1612297331
457,Biltine,14.5333,20.9167,75.81,17.0,0.0,9.84,TD,1612297332
463,Upington,-28.4478,21.2561,75.20,46.0,0.0,9.22,ZA,1612297333
487,Keetmanshoop,-26.5833,18.1333,80.69,42.0,3.0,26.13,NaN,1612297337
505,Odienné,9.5100,-7.5692,77.49,17.0,0.0,2.33,CI,1612297339
552,Nuevo Progreso,23.1667,-97.9500,73.99,46.0,0.0,5.99,MX,1612297346
566,Rawson,-43.3002,-65.1023,80.40,26.0,0.0,12.12,AR,1612297349

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# Create variable to store hotels
hotels_df = ideal_weather[["City", "Country", "Latitude", "Longitude"]].copy()
hotels_df["Hotel Name"] = ""
hotels_df

                    City Country  Latitude  Longitude Hotel Name
6              Coyhaique      CL  -45.5752   -72.0662
76                 Pisco      PE  -13.7000   -76.2167
146         Umm Kaddadah      SD   13.6017    26.6876
171    San Juan Bautista      PE  -14.0108   -75.7358
187            Tcholliré      CM    8.4022    14.1698
208                Kidal      ML   18.4411     1.4078
234  Lampazos de Naranjo      MX   27.0167  -100.5167
285             Tessalit      ML   20.1986     1.0114
307   Comodoro Rivadavia      AR  -45.8667   -67.5000
358          Kissidougou      GN    9.1848   -10.0999
394           Long Beach      US   33.7670  -118.1892
396               Illela      NG   13.7292     5.2975
398             Rājpīpla      IN   21.8667    73.5000
404                 Atar      MR   20.5169   -13.0499
420              Kaduqli      SD   11.0167    29.7167
442                Birao      CF   10.2849    22.7882
449           Manzanillo      CU   20.3433   -77.1167
457              Biltine      TD   14.5333    20.9167
463             Upington      ZA  -28.4478    21.2561
487         Keetmanshoop     NaN  -26.5833    18.1333
505              Odienné      CI    9.5100    -7.5692
552       Nuevo Progreso      MX   23.1667   -97.9500
566               Rawson      AR  -43.3002   -65.1023

In [15]:
# Set url
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# Set parameters to search for hotels
search = "Hotel"
radius = 5000

for index, row in hotels_df.iterrows(): 

    # Get latitude and Longitude data from the hotels_df dataframe & create location from these variables
    lat = row['Latitude']
    lng = row['Longitude']

    location = f'{lat},{lng}'

    response = requests.get(f'{url}location={location}&keyword={search}&radius={radius}&key={g_key}').json()
    results = response['results']

    try:
        print(f"The closest hotel is {results[0]['name']}.")
        
        hotels_df.loc[index, 'Hotel Name'] = results[0]['name']

    except IndexError:
        print("Missing field/result... skipping.")
        
        # If Not Available, Set to NaN (not found / applicable)
        hotels_df.loc[index, 'Hotel Name'] = np.nan

The closest hotel is The Patagonian Lodge.
The closest hotel is Hostal Mandala.
Missing field/result... skipping.
The closest hotel is Hotel Las Dunas.
Missing field/result... skipping.
Missing field/result... skipping.
The closest hotel is Hotel Posada Lampazos.
Missing field/result... skipping.
The closest hotel is Lucania Palazzo Hotel.
The closest hotel is Hotel savannah.
The closest hotel is The Westin Long Beach.
Missing field/result... skipping.
The closest hotel is HOTEL PAAVAN.
The closest hotel is Odar kanawal.
The closest hotel is فندق الله جابو.
Missing field/result... skipping.
The closest hotel is Hostal Reliance (Casa Julio & Mayra).
The closest hotel is Hôtel Trois Étoiles de Biltine.
The closest hotel is Protea Hotel by Marriott Upington.
The closest hotel is Hotel Schützenhaus.
The closest hotel is HÔTEL SARAH.
Missing field/result... skipping.
The closest hotel is Complejo Bahia Ballenas.

In [17]:
# Show hotels dataframe
hotels_df

,City,Country,Latitude,Longitude,Hotel Name
6,Coyhaique,CL,-45.5752,-72.0662,The Patagonian Lodge
76,Pisco,PE,-13.7000,-76.2167,Hostal Mandala
146,Umm Kaddadah,SD,13.6017,26.6876,NaN
171,San Juan Bautista,PE,-14.0108,-75.7358,Hotel Las Dunas
187,Tcholliré,CM,8.4022,14.1698,NaN
208,Kidal,ML,18.4411,1.4078,NaN
234,Lampazos de Naranjo,MX,27.0167,-100.5167,Hotel Posada Lampazos
285,Tessalit,ML,20.1986,1.0114,NaN
307,Comodoro Rivadavia,AR,-45.8667,-67.5000,Lucania Palazzo Hotel
358,Kissidougou,GN,9.1848,-10.0999,Hotel savannah
394,Long Beach,US,33.7670,-118.1892,The Westin Long Beach
396,Illela,NG,13.7292,5.2975,NaN
398,Rājpīpla,IN,21.8667,73.5000,HOTEL PAAVAN
404,Atar,MR,20.5169,-13.0499,Odar kanawal
420,Kaduqli,SD,11.0167,29.7167,فندق الله جابو
442,Birao,CF,10.2849,22.7882,NaN
449,Manzanillo,CU,20.3433,-77.1167,Hostal Reliance (Casa Julio & Mayra)
457,Biltine,TD,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
463,Upington,ZA,-28.4478,21.2561,Protea Hotel by Marriott Upington
487,Keetmanshoop,NaN,-26.5833,18.1333,Hotel Schützenhaus
505,Odienné,CI,9.5100,-7.5692,HÔTEL SARAH
552,Nuevo Progreso,MX,23.1667,-97.9500,NaN
566,Rawson,AR,-43.3002,-65.1023,Complejo Bahia Ballenas

In [18]:
# Remove of NAN values
hotels_df.dropna(axis=0, how='any', inplace=True)
hotels_df

,City,Country,Latitude,Longitude,Hotel Name
6,Coyhaique,CL,-45.5752,-72.0662,The Patagonian Lodge
76,Pisco,PE,-13.7000,-76.2167,Hostal Mandala
171,San Juan Bautista,PE,-14.0108,-75.7358,Hotel Las Dunas
234,Lampazos de Naranjo,MX,27.0167,-100.5167,Hotel Posada Lampazos
307,Comodoro Rivadavia,AR,-45.8667,-67.5000,Lucania Palazzo Hotel
358,Kissidougou,GN,9.1848,-10.0999,Hotel savannah
394,Long Beach,US,33.7670,-118.1892,The Westin Long Beach
398,Rājpīpla,IN,21.8667,73.5000,HOTEL PAAVAN
404,Atar,MR,20.5169,-13.0499,Odar kanawal
420,Kaduqli,SD,11.0167,29.7167,فندق الله جابو
449,Manzanillo,CU,20.3433,-77.1167,Hostal Reliance (Casa Julio & Mayra)
457,Biltine,TD,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
463,Upington,ZA,-28.4478,21.2561,Protea Hotel by Marriott Upington
505,Odienné,CI,9.5100,-7.5692,HÔTEL SARAH
566,Rawson,AR,-43.3002,-65.1023,Complejo Bahia Ballenas

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Latitude", "Longitude"]]

In [21]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))